@model CreateCarDto

@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Araç İle İlgili Temel Bilgileri Eksiksiz Doldurmanız Gerekmektedir. Veri Girişlerinden Sonra Kaydet Butonuna Tıklayarak İşlemleri Tamamlayabilirsiniz</p>
                        <form method="post">
                        <div class="form-group">
                            <label for="exampleInputBrand">Marka</label>
                            @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new{@class="form-control"})
                        </div>
                            <div class="form-group">
                                 <label for="exampleInputModel">Model</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCoverImageUrl">Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" id="exampleInputCoverImageUrl" asp-for="CoverImageURL" placeholder="Kapak Fotoğraf Linkini Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputKm">Km</label>
                                <input type="text" class="form-control" id="exampleInputKm" asp-for="Km" placeholder="Km Bilgisi Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites Türü</label>
                                <input type="text" class="form-control" id="exampleInputTransmition" asp-for="Transmission" placeholder="Vites Türü Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk Sayısı</label>
                                <input type="number" class="form-control" id="exampleInputSeat" asp-for="seat" placeholder="Koltuk Sayısını seçiniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj Sayısı</label>
                                <input type="number" class="form-control" id="exampleInputLuggage" asp-for="Luggage" placeholder="Bagaj Sayısını Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFuel">Yakıt Türü</label>
                                <input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakıt Türünü Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBigImage">Büyük Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" id="exampleInputBigImage" asp-for="BigImageURL" placeholder="Araç Detaylarında Görünecek Kapak Fotoğraf Linkini Giriniz...">
                            </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>



