@model UpdateServiceDto

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hizmet Sayfası Veri Düzenleme Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfa ve Hizmetler bölümünde yer alan hizmet listesinin admin tarafında yer alan işlemlerini aşağıdaki alanda gerçekleştirebilirsiniz. Tema bütünlüğünü korumak adana 4 tane giriş yapınız.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="ServiceID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Hizmet Başlığı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Hizmet Başlığını Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Hizmet Başlığı</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Hizmet Açıklamasını Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIconURL">Hizmet Başlığı</label>
                                <input type="text" class="form-control" id="exampleInputIconURL" asp-for="IconURL" placeholder="Hizmet Icon Bilgisini Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Hizmet Bilgisini Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



