@model UpdateLocationDto

@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lokasyon Veri Girişi Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Araçların alındığı ve teslim edildiği noktalara ait lokasyon bilgilerinin girildiği sayfadır. Bilgileri eksiksiz girin.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="LocationID"/>
                            <div class="form-group">
                                <label for="exampleInputLocationName">Lokasyon Adı</label>
                                <input type="text" class="form-control" id="exampleInputLocationName" asp-for="LocationName" placeholder="Lokasyonu Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Location Bilgisini Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



