@model CreateFeatureDto

@{
    ViewData["Title"] = "CreateFeture";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Özelliği Girişi</h4>
                        <p class="card-subtitle mb-4">Araç İle İlgili Özellikleri Aşağıdaki kutucuğa Girebilirsiniz. Veri Girişinden Sonra Kaydet Butonuna Tıklayarak İşlemi Tamamlayabilirsiniz</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Özelliğin Adını Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>